.error-child,
.error-inner,
.error-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 347px;
  height: 328px;
}
.error-inner,
.error-item {
  top: 784px;
  left: 425px;
}
.error-inner {
  top: 0;
  left: 237px;
  width: 648.03px;
  height: 311px;
}
.bg7,
.left-content4 {
  position: absolute;
  top: 0;
  width: 580px;
  height: 900px;
}
.bg7 {
  left: 0;
  background: linear-gradient(180deg, #55b7ef, #02298a 50%, #000);
}
.left-content4 {
  left: 580px;
}
.bienvenido-de-vuelta1,
.inicio-de-sesion1,
.olvide-mi-contrasea1 {
  position: absolute;
  font-family: var(--font-poppins);
  text-align: left;
  display: inline-block;
}
.inicio-de-sesion1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  width: 305px;
  height: 32px;
}
.bienvenido-de-vuelta1,
.olvide-mi-contrasea1 {
  top: 40px;
  left: calc(50% - 125px);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  width: 279px;
  height: 22px;
}
.olvide-mi-contrasea1 {
  top: 435px;
  left: calc(50% - 94px);
  color: var(--color-black);
  width: 218.4px;
  height: 26.49px;
  opacity: 0.7;
}
.title3 {
  position: absolute;
  top: 0;
  left: 71px;
  width: 308px;
  height: 461.49px;
}
.iniciar-sesion1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--base-white);
  text-align: left;
}
.placeholder12 {
  position: relative;
  width: 132px;
  height: 30px;
}
.button14 {
  position: absolute;
  top: 341.18px;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-royalblue);
  width: 447px;
  height: 71.89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-7xl);
  box-sizing: border-box;
}
.contrasea2 {
  position: absolute;
  top: 0;
  left: 32px;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-200);
  text-align: left;
  opacity: 0.3;
}
.bxbxs-lock-alt-icon4 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  opacity: 0.3;
}
.placeholder13 {
  position: relative;
  width: 151px;
  height: 30px;
}
.password5 {
  position: absolute;
  top: 245.33px;
  left: calc(50% - 223.5px);
  border-radius: var(--br-11xl);
  background-color: var(--color-lightsteelblue);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 447px;
  height: 75.67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-7xl);
}
.correo-electronico {
  position: absolute;
  top: 0;
  left: 34px;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  width: 234px;
  height: 22px;
  opacity: 0.3;
}
.codiconmail4 {
  position: absolute;
  top: 5.97px;
  left: 0;
  width: 24.44px;
  height: 24.69px;
  overflow: hidden;
  opacity: 0.3;
}
.placeholder14 {
  position: relative;
  width: 268px;
  height: 30.66px;
}
.email7,
.right-content4 {
  position: absolute;
  width: 447px;
}
.email7 {
  top: 149.47px;
  left: calc(50% - 223.5px);
  border-radius: var(--br-11xl);
  background-color: var(--color-lightsteelblue);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 75.67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-7xl);
}
.right-content4 {
  top: 259px;
  left: 81px;
  height: 461.49px;
}
.bg8,
.error1 {
  position: absolute;
  top: 0;
}
.bg8 {
  left: calc(50% - 192.5px);
  background-color: #e7e7e7;
  width: 385px;
  height: 169px;
}
.error1 {
  left: calc(50% - 100.63px);
  display: inline-block;
  width: 202px;
  height: 17.13px;
}
.title4,
.todos-los-campos {
  position: absolute;
  width: 335.26px;
}
.todos-los-campos {
  top: 35.12px;
  left: calc(50% - 167.63px);
  font-size: var(--font-size-lg);
  color: var(--color-black);
  display: inline-block;
  height: 46.66px;
}
.title4 {
  top: 7.4px;
  left: calc(50% - 167.5px);
  height: 81.77px;
}
.intentar-de-nuevo {
  position: absolute;
  top: 0;
  left: 0;
}
.placeholder15 {
  position: relative;
  width: 135px;
  height: 21px;
}
.button15 {
  position: absolute;
  top: 125px;
  left: calc(50% - 153.5px);
  border-radius: var(--br-11xl);
  background-color: var(--color-brown);
  width: 307px;
  height: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-7xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--text-sm-normal-size);
  color: var(--base-white);
}
.left-content5 {
  position: absolute;
  top: 372px;
  left: calc(50% - 62px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 385px;
  height: 169px;
}
.error {
  position: relative;
  background-color: var(--base-white);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: 26px;
  color: var(--color-brown);
  font-family: var(--font-poppins);
}
