.registrate-para-comenzar1,
.registro2 {
  position: absolute;
  font-family: var(--font-poppins);
  text-align: left;
  display: inline-block;
}
.registro2 {
  top: 0;
  left: calc(50% - 90px);
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  width: 179px;
  height: 54px;
}
.registrate-para-comenzar1 {
  top: 54px;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  width: 250px;
  height: 38px;
}
.title2 {
  position: absolute;
  top: 0;
  left: calc(50% - 88px);
  width: 250px;
  height: 92px;
}
.bxbxs-user-icon1,
.nombre1 {
  position: absolute;
  opacity: 0.3;
}
.nombre1 {
  top: 2px;
  left: 32px;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-200);
  text-align: left;
}
.bxbxs-user-icon1 {
  height: 75%;
  width: 21.24%;
  top: 0;
  right: 78.76%;
  bottom: 25%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.placeholder6 {
  position: relative;
  width: 113px;
  height: 32px;
}
.name3 {
  border-radius: var(--br-11xl);
  background-color: var(--color-lightsteelblue);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 474px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-7xl);
}
.codiconmail2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  opacity: 0.3;
}
.placeholder7,
.placeholder8,
.placeholder9 {
  position: relative;
  width: 226px;
  height: 32px;
}
.placeholder8,
.placeholder9 {
  width: 104px;
}
.placeholder9 {
  width: 151px;
}
.confirmar-contrasea1 {
  position: absolute;
  top: 2px;
  left: 31px;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-200);
  text-align: left;
  opacity: 0.3;
}
.placeholder10 {
  position: relative;
  width: 257px;
  height: 32px;
}
.registrar1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--base-white);
  text-align: left;
}
.placeholder11 {
  position: relative;
  width: 90px;
  height: 30px;
}
.button13,
.name-container {
  width: 474px;
  display: flex;
  flex-direction: column;
}
.button13 {
  border-radius: var(--br-11xl);
  background-color: var(--color-royalblue);
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-7xl);
  box-sizing: border-box;
  cursor: pointer;
}
.name-container {
  position: absolute;
  top: 92px;
  left: calc(50% - 237px);
  height: 441px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.right-content3 {
  position: absolute;
  top: 190px;
  left: calc(50% + 57px);
  width: 474px;
  height: 533px;
}
.register-child,
.register-inner,
.register-item {
  position: absolute;
  top: 0;
  left: 1026px;
  width: 347px;
  height: 328px;
}
.register-inner,
.register-item {
  top: 765px;
  left: 372px;
}
.register-inner {
  top: 0;
  left: 333.1px;
  width: 658.9px;
  height: 194px;
}
.bg2 {
  background: linear-gradient(180deg, #55b7ef, #02298a 50%, #000);
}
.bg2,
.left-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 580px;
  height: 900px;
}
.register {
  position: relative;
  background-color: var(--base-white);
  width: 100%;
  height: 900px;
  overflow: hidden;
}
